{% extends "main.html" %}
{% load bbcode_tags %}
{% load thumbnail %}
{% load comments %}
{% block title %}Главная страница{% endblock %}
{% block main %}
  {% include "generic/messages.html" %}

<div class="support">
<h1>Финансовая поддержка</h1>
    <p>Мое почтение Вам!</p>
    <p>Вы можете поддержать наш проект.</p>
    <p>Если у Вас есть желание поддержать наш ресурс, то мы будем очень признательны!</p>
    <p>Если вы хотите предложить идею или сделать что-то для развития проектов, то пишите
на электронный адрес: info@lkkkkkk</p>
    <p>Если вы хотите оказать денежную поддержку, то вы можете сделать пожертвования любым
способом, представленным ниже.</p>
    <p>Мы будем благодарны любой помощи, так как каждое пожертвование, независимо от размера,
говорит о вашем желании помочь!</p>
</div>


{% endblock %}
